@use 'src/styles/vars';

/* mobile first */
.plusButton {
  text-align: left;
  height: 150px;
  display: flex;
  align-items: center;
  margin-left: calc(vars.$gutter) *2;
  &-button {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: vars.$opacityColor;
    cursor: pointer;
    transition: all 1s;
  }
  &-button:hover {
    transform: scale(1.2);
  }
}
/* for tablet */
@media (min-width: 576px) {

}

/* for small screen */
@media (min-width: 768px) {

}


/* for screen */
@media (min-width: 1200px) {
  
}