$primaryColor: #0B0D1F;
$opacityColor: #191B2B;
$textColor: #8E8F98;
$lightColor: #BBBCC0;
$buttonColor: #60616D;
$titleSize: 2em;
$gutter: 1em;
$nightColor1: #2D3E47;
$nightColor2: #293944;
$dayColor1: #4e898f;
$dayColor2: #3e7075d3;
$desktopBackground: rgba(22, 22, 22, 0.418);
$error: rgba(192, 5, 5, 0.767)