@use 'src/styles/vars';

/* mobile first */
.app {
  // width: 100vw;
  text-align: center;
  color: vars.$textColor;
  background: url(../../assets/images/night-img.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}
/* for tablet */
@media (min-width: 576px) {

}

/* for small screen */
@media (min-width: 768px) {
  .app {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


/* for screen */
@media (min-width: 1200px) {
  
}